    
    .login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black; 
    background-color: white; 
    overflow: hidden;
}

.login-title {
    background-color: black;
    color: white; 
    width: 100%; 
    padding: 20px 0; 
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}

.login-form-container {
    width: 80%;
    margin: 20px auto 0;
    text-align: center;
}
