.login-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: black;
    text-align: center;
    aspect-ratio: 16/9;
    width:80%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: underline;
    
}

